.newEelement{
    background-color: #E8EAEC;
    /* color: #384364; */
    border-radius: 50%;
}
.newEelement .material-icons{
    color: #384364 !important; 
    font-size: 1rem;

}
.p{
    font: normal normal normal 15px/20px Roboto;
letter-spacing: 0px;
    color: #384364;
text-transform: capitalize;
opacity: 1;
}
.ql-toolbar{
    z-index: 1100;
}