
 #card
{
margin:auto;
width: 513px;
height: 1019px;
background: transparent url('../img/Mobile_Black_NOS.png') 0% 0% no-repeat padding-box;
opacity: 1;
}

#agent
{
  /* margin-top: 100px;*/
  margin-left: 57px; 
  /* background:transparent url('../img/agentHeder.png') 0% 0% no-repeat padding-box;  */
  width: 363px;
  height: 25%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  opacity: 1;

}
.agentPic
{
  background:transparent url('../img/h5.png') 0% 0% no-repeat padding-box;
  background-size: cover;
}


.cardLogo
{
  background: #15328A 0% 0% no-repeat padding-box;
}
.cardProfile
{
  background: transparent url('../img/agentPic.png') 0% 0% no-repeat padding-box;
  background-size: cover;
}

#spacAbove{
    height: 10%;
    width: 100%;
  }

/* body */
#agentDetails
{
  width: 363px;
  height: 54%;
  background-color: #2B5FFF;
  opacity: 1;
  margin-left: 57px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}


#fullNameAgent
{
text-align: center;
font: Bold 28px/37px Roboto;
letter-spacing: 0.84px;
color: #EBEAEA;
text-transform: capitalize;
background: transparent;
border: 0;
opacity: 1;
font-size: 20px;
}

#fullNameAgentDesktop
{
text-align: center;
font: Bold 28px/37px Roboto;
letter-spacing: 0.84px;
color: rgb(32, 29, 29);
text-transform: capitalize;
background: transparent;
border: 0;
opacity: 1;
}

#fullNameAgent:focus
{
  outline: none;
  border-bottom: none;
}
#fullNameAgent::placeholder
{
 color:#ffffff
}


#rule
{
  text-align: center;
font: Regular 20px/26px Roboto;
letter-spacing: 0.6px;
color: #EBEAEA;
background: transparent;
border: 0;
text-transform: capitalize;
opacity: 1;
}

#ruleDesktop
{
text-align: center;
font: Regular 20px/26px Roboto;
letter-spacing: 0.6px;
color: rgb(32, 29, 29);
background: transparent;
border: 0;
text-transform: capitalize;
opacity: 1;
}
#rule::placeholder
{
  color:#FFFFFF
}

.agentDetailsButton{
  width: 162px;
  height: 51px;
  text-align: center;
  font: Medium 20px/26px Roboto;
  border-radius: 12px;
  opacity: 1;
}


#callMe{
  background:#0D214B 0% 0% no-repeat padding-box;
  border: 3px solid #0D214B;
  letter-spacing: 0.44px;
  color: #FFFFFF;
  text-transform: capitalize;

}
#addContact
{
letter-spacing: 0px;
color: #FFFFFF;
text-transform: capitalize;
background-color: transparent;
border: 2px solid #FCFEFF;
}
 /* ----------------------- */
.iconContact{
  width:70px;
height: 70px;
border-width: medium;
box-shadow: 0px 1px 2px #4D77F042;
border: 4px solid #FFFFFF;
opacity: 1;
}
.iconContactDesktop{
width: 40px;
height: 40px;
border-width: medium;
box-shadow: 0px 1px 2px #4D77F042;
border: 4px solid #FFFFFF;
opacity: 1;
}

/* --------------------------- */

.iconContactImg{
  background-image:url('../icons/globe-solid.svg') ;
  /* background: transparent url('../icons/globe-solid.svg') 0% 0% no-repeat padding-box; */
  opacity: 1;
}
#aboutMe{
width: 300px;
height: 53px;
opacity: 1;
font: Medium 20px/26px Roboto;
letter-spacing: 0.6px;
color: #FFFFFF;
background: transparent;
border: 0;
outline:none;
text-transform: capitalize;
opacity: 1;
}

#abuotMetext{
  position: absolute;
  z-index: 1;
  width: 100%;
    border: 0;
    outline: none;
}
.addiconContact{
text-align: center;
font: Regular 16px/21px Roboto;
letter-spacing: 0.48px;
color: #EBEAEA;
text-transform: capitalize;
opacity: 1;
}



#socialMedia{
  max-height: 29vh;
    overflow-y: auto;
    overflow-x: hidden;
}

#socialMedia::-webkit-scrollbar {
  width: 1em;
} 
