.bodyAll{
    height: 90vh;
}

.navHeader
{
  height: 8vh;
}

.navHeader_container{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    box-shadow: 0px 3px 6px #00000029;
    z-index: 1;
}
.body{
    height: 100%
}

/* nav left */
.navLeft
{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
}
 #leftNavTitls{
    text-align: left;
    font: normal normal bold 16px/48px SF Pro Display;
    letter-spacing: 0px;
    opacity: 1;
 }
 
.navLeft_icon_content{
    margin-top: 100px;
}



.content
{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    height: 96%;
    overflow-y: auto;
    border: 3px dashed #E8E7F2;
    border-style: dashed
}
.content::-webkit-scrollbar {
    width: 0em;
  }

.configurator
{
    background:#3A405E;
    margin: -10px;
    height: 100%;
    border: 1px solid #707070;
    border-radius: 80px 0px 0px 0px;
    z-index: 2;
}

.configurator_container
{
      height:80%;
}
.configurator_main
{
    height:100%;
    overflow-y: auto;
}
.configurator_main::-webkit-scrollbar {
    width: 0em;
  } 
.configurator_header
{
    margin-top: 25%;
}

.configurator_header.svg-inline--fa {
    color: black !important;
}


.configurator_header_title
{
text-align: center;
font: normal normal medium 18px/24px Roboto;
letter-spacing: 0.32px;
color: #FFFFFF;
text-transform: capitalize;
opacity: 1;
}

.configurator_footer
{
   position: fixed;
   right:0 ;
   bottom: 0;
   height: 50px;
   width: 17%;
  background: #0A0E1B 0% 0% no-repeat padding-box; 
 
}
.publish
{
    background: #A66DFF 0% 0% no-repeat padding-box;
    text-align: center;
    width: 80%;
    height: 70%;
    font: normal normal medium 12px/16px SF Pro Display;
    letter-spacing: 0px;
    color: #EBEAEA;
    opacity: 1;
   
}
.col-1 {
    flex: 0 0 6.333333%;
    max-width: 4.333333% !important;
}
