#top_frame{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    position: sticky;
    top: 0px;
    opacity: 1;
    height: 7%;
    z-index: 1;
    box-shadow:0px 1px 6px #00000029;
    z-index: 2;
}
#img_logo{
    border-radius: 50%;
    width: 60%;
    height:100% 
}
#thumbtack{
    width: 25px;
    
}/* 
#menu2{
    width: 25%;
    
} */
.rotateThumbtack{
    transform: rotate(-45deg);
}
#leader_logo{
    width: 3%;
}
.red:hover{
background-color:red;
}