
  .edit_buttons_section{
    position: absolute;
    z-index: 1001;
    cursor: pointer;
    left:-1px;
    color: rgb(137, 140, 143);
    opacity:0;

    
}

.sectionToEdit:hover >.edit_buttons_section{
    opacity: 1;
}
.sectionToEdit:hover{
    border: 1.5px #007bff dashed;
  }
  .sectionToEdit{
    border: 1.5px transparent dashed;
  }

  #tmpg{
    display: grid;
    width: 100%;
    grid-template-columns: 20% 40% 40%;
    grid-template-areas:
    "tm0 tm1 tm1"
    "tm0 tm2 tm2"
    ;


  }
  #tmpg1{
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
    grid-template-areas:
    "tm0  tm1"
    "tm0  tm2"
    ;
  }

  #tm0{
    grid-area:tm0;
  }
  #tm1{
    grid-area:tm1;
  }
  #tm2{
    grid-area:tm2;
  }

  #taille{
    height:100% !important
  }