
#wrap_center{

    margin-left:3% ;
    height: calc(100vh - 40px);

}
#body{
    background-color: #E8EAEC;
    font-size: 0.8rem !important;
    overflow: scroll;
}
.center_width_on_open_con{
    width: 81%;
}
.center_width_on_close_con{
    width: 97%;
}
.pointer{
    cursor: pointer;
}
.move{
    cursor: move;
}
   
.asd{
    width: 60vw;
    height: 70vh;
    background-repeat: no-repeat;
    /* background-color: salmon; */
    background-image: url('./assets/103424.png');
    z-index: 2;
    position: fixed;
    background-size: cover;
    margin-top: 15vh;
    left: 200px;
}